.buildozer
.DS_Store
.dmypy.json
.env
.mypy_cache
.python-version
.venv
*.pyc
app_copy.zip
__pycache__
dmypy.json
temp
dist
poetry.lock
buildozer-template.spec
kivy-reloader-template.toml
bin/kivy_reloader-0.1-arm64-v8a-debug.apk
